<footer>
    <div class="footerContainer">
        <section class="footerLeft">
        <a href="/gebruiksvoorwaarden"> Gebruiksvoorwaarden / Privacyverklaring</a>
        </section>
        <section class="footerRight">
            <div>Deze website is mogelijk gemaakt door</div>
            <div class="footerLinksContainer">
                <a href="https://www.cultuurconnect.be/"><img src="/images/logo-cultuurconnect.png" alt=""></a>
                <a href="https://www.ditisvlaanderen.be/nl/verbeelding-werkt-0"><img src="/images/logo-vlaanderen.png" alt=""></a></div>
        </section>
    </div>
</footer>