 <!-- Navigatie  -->
 <section id="navHeader">
    <div class="navContainer">
        <section class="navTitle">
            <a href="/">Podium Aan Huis</a>
        </section>
        <nav>
            <section class="navLinks">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#videos">Video's</a></li>
                    <li><a href="/over-dit-initiatief">Over</a></li>
                </ul>
            </section>
        </nav>
    </div>
</section>