<section class="notFoundContainer">
    <h1>Pagina niet gevonden</h1>
    <h3>De pagina die je zoekt bestaat niet of is verplaatst.</h3>
    <div class="returnToHomepage">
        <p>Zoek hieronder door de voorstellingen, of ga naar <a href="/">de startpagina</a></p>
    </div>
</section>
<style>
    .notFoundContainer{
        text-align: center;
        max-width: 740px;
        margin: auto;
        margin-top: 10px;
    }
    .notFoundContainer h1{
        letter-spacing: -.02em;
        font-size: 84px;
        line-height: 84px;
        margin-bottom: 24px !important;
    }
    .notFoundContainer h3{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
    .returnToHomepage{
        margin-top: 40px;
    }
    .returnToHomepage p, a{
       
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }
</style>