
<article id="videoContainer">
    <div class="videoWrapper">
        <div class="embedContainer">
            <%- metadata.html %>
        </div>
    </div> 
</article>
<article id="videoInfoContainer">
    
    <div class="videoInfoTextContainer">
        <h1><%= title %> - Podium Aan Huis</h1>
        <%- description %>
    </div>
    <div class="keyTakeawaysContainer">
        <div class="stickyContainer">
            <%- keyTakeaways %>
        </div>
      
    </div>
   
</article>
