
<article id="videoContainer">
    <%- metadata.html %>
</article>
<article id="videoInfoContainer">
    
    <div class="videoInfoTextContainer">
        <h1><%= title %> - Podium Aan Huis</h1>
        <%- description %>
    </div>
    <div class="keyTakeawaysContainer">
        <%- keyTakeaways %>
    </div>
   
</article>
