   <!-- Sectie met videos en filtering  -->
   <div id="videos">
    <!-- Filter voor videos  -->
    <section class="videosFilter">
        <div id="zoekBalkContainer">
            <label for="zoekbalk">Zoek</label>
            <input type="text" name="zoekbalk" id="zoekbalk">
            <div id="zoekbalkResultContainer">
                <section id="zoekbalkResults">

                </section>
            </div>
        </div>
        <div id="filterButtonsContainer">
            <section >
                <label for="categoriesButtonsContainer">Doelgroep</label>
                <div id="categoriesButtonsContainer"  class="filterButtonsContainer"></div>
            </section>
            <section>
                <label for="genreButtonsContainer">Genre</label>
                <div id="genreButtonsContainer" class="filterButtonsContainer"></div>
            </section>
            <div class="filtersWissenKnopContainer">
                <button id="filtersWisKnop" style="display: none;" onclick="filtersWissen()">Filters wissen</button>
            </div>
        </div>
    </section>
    <!-- Weergave van al de videos -->
    <section class="videosResults">
        <div class="videoCatalogContainer">
            <section class="videoCatalog" id="videoCatalog">

            </section>
            <section class="videoCatalogNav">
                <button id="videoCatalogPrevious" onclick="navigateCatalog('prev')">Vorige</button>
                <p>Pagina <span id="videoCatalogCurrentPage">1</span> van <span id="videoCatalogMaxPages">9</span></p>
                <button id="videoCatalogNext" onclick="navigateCatalog('next')">Volgende</button>
            </section>
        </div>
    </section>
</div>
</div>

<script type="text/javascript" src="/bower_components\jquery\dist\jquery.min.js"></script>
<script type="text/javascript"  src="/js/videos.js"></script>