<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podium Aan Huis</title> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel = "stylesheet" type="text/css" href="css/style.css">
</head>
<body>
     <!-- Navigatie  -->
    <%- include('partials/navigation.ejs') %>
    <!-- Main body  -->
    <main>
        <!-- Header met info  -->
        <div class="mainContainer">
            <header>
                <h1>Gebruiksvoorwaarden</h1>
            </header>
            <section>
                <p><strong>Algemeen</strong></p>
                    <p>Deze website wordt beheerd door Cultuurconnect vzw. Cultuurconnect is een organisatie die lokale besturen ondersteunt bij de digitale uitdagingen van hun cultuurbeleid, met klemtoon op openbare bibliotheken, cultuur- en gemeenschapscentra en aandacht voor sectoroverschrijdende verbindingen. Cultuurconnect sluit in dat kader een beheersovereenkomst met de Vlaamse overheid.
                    <br> Contactgegevens: Cultuurconnect, Priemstraat 51, 1000 Brussel</p>
                    <p>Ondernemingsnummer: 0629.858.909 <br> E-mail: <a href="mailto:servicedesk@cultuurconnect.be"> servicedesk@cultuurconnect.be</a></p>
                    <p>Wie gebruik maakt van deze website, aanvaardt de Gebruiksvoorwaarden/Privacyverklaring. Als u niet akkoord   gaat met een of meerdere bepalingen, vragen wij u geen (verder) gebruik te maken van de website en contact met ons op te nemen via <a href="mailto:servicedesk@cultuurconnect.be">servicedesk@cultuurconnect.be</a> om uw bezorgdheden te bespreken.</p>
                    <p>De Gebruiksvoorwaarden/Privacyverklaring zijn van toepassing op het gebruik van de website, alsmede op de via de website aan u ter beschikking gestelde gegevens en materialen.</p> 
                <p><strong> Doel van de website‍</strong> </p>
                    <p>De website heeft tot doel captaties van culturele en theatervoorstellingen te integreren (embedden) in een centraal platform. Dit doel is uitdrukkelijk tijdelijk van aard en gelinkt aan de veiligheidsmaatregelen die in het kader van de opmars van het Coronavirus zijn opgelegd, waaronder de sluiting van alle cultuurhuizen en theaterzalen. Daarom wil Cultuurconnect, in een partnerschap met theatergezelschappen die de rechten hierop beheren, de cultuursector ondersteunen om toch een tijdelijk virtueel aanbod te kunnen verzorgen.</p>
                <p><strong>Beschikbaarheid en gebruiksrichtlijnen‍</strong></p>
                    <p>U verbindt zich ertoe om op een zorgvuldige en redelijke wijze gebruik te maken van de website en de gegevens die erop staan. Zo aanvaarden wij niet dat de website oneigenlijk wordt gebruikt, bijvoorbeeld voor verspreiding van virussen of malware, uitvoering van kwetsbaarheidstests of publicatie van onrechtmatige of ongepaste inhoud.</p>
                    <p>Door het gebruik van deze website verklaart u zich akkoord om</p>
                    <ul>
                        <li>Geen handelingen te verrichten die het gebruik van deze website door andere gebruikers in de weg staan, of die de veiligheid van deze website verstoren;</li>
                        <li>Geen virussen of andere schadelijke bestanden te uploaden;</li>
                        <li>Geen verdere handelingen te verrichten die in strijd zijn met de wet (zoals hacken of proberen om ongeautoriseerde toegang te krijgen tot de service of gegevens);</li>
                        <li>Alle intellectuele rechten op het beschikbaar gestelde materiaal te respecteren.</li>
                    </ul>
                <h2>Informatie, aansprakelijkheid en intellectuele eigendomsrechten</h2>
                <p><strong>Algemeen</strong></p>
                    <p>Bepaalde delen van de website, alsook de in verband met de website gebruikte software, zijn beschermd door intellectuele eigendomsrechten die toebehoren aan Cultuurconnect of aan derden waarmee Cultuurconnect daaromtrent contractuele afspraken heeft.</p>
                    <p>Cultuurconnect streeft ernaar dat alle informatie zo volledig, juist, begrijpelijk, nauwkeurig en actueel mogelijk is. Ondanks alle voortdurend geleverde inspanningen kunnen wij niet garanderen dat de ter beschikking gestelde informatie volledig, nauwkeurig of bijgewerkt is. Wanneer u onvolledigheden of tekortkomingen vaststelt, kunt u die melden via e-mail naar <a href="mailto:servicedesk@cultuurconnect.be">servicedesk@cultuurconnect.be</a>. Voor zover als de wet het toelaat, kan Cultuurconnect dan ook niet aansprakelijk worden gesteld voor rechtstreekse of onrechtstreekse schade die ontstaat uit het gebruik van de website of de beschikbare informatie, met inbegrip, zonder beperking, van alle verliezen, werkonderbrekingen, beschadiging van uw programma's of andere gegevens op het computersysteem, of van uw apparatuur of programma's.</p>
                    <P>De website kan hyperlinks bevatten naar websites of pagina's van derden, of daar onrechtstreeks naar verwijzen. Het plaatsen van links naar deze websites of pagina's impliceert op geen enkele wijze een impliciete goedkeuring van de inhoud ervan. Cultuurconnect verklaart uitdrukkelijk dat zij geen zeggenschap heeft over de inhoud of over andere kenmerken van deze websites. Zij kan in geen geval aansprakelijk worden gesteld voor schade te wijten aan de inhoud of de kenmerken van deze sites. <br> Cultuurconnect geeft geen garanties voor de goede werking van de website en kan op geen enkele wijze aansprakelijk worden gehouden voor een slechte werking of voor een tijdelijke of permanente onbeschikbaarheid of voor enige vorm van schade die rechtstreeks of onrechtstreeks zou voortvloeien uit de toegang tot of het gebruik van de website. De inhoud van de site (links inbegrepen) kan te allen tijde, geheel of gedeeltelijk, zonder aankondiging of kennisgeving offline worden gehaald, aangepast, gewijzigd of aangevuld. <br> Indien u een slechte werking of onbeschikbaarheid vaststelt, kan u dit melden via <a href="mailto:servicedesk@cultuurconnect.be">servicedesk@cultuurconnect.be</a>.</P>
                <p><strong>Integreren (embedden) van captaties van culturele en theatervoorstellingen</strong></p>
                    <p>Op de website worden captaties van culturele en theatervoorstellingen geïntegreerd. Cultuurconnect verklaart uitdrukkelijk dat zij geen enkele verantwoordelijkheid draagt voor het klaren van eventuele auteursrechten en dat zij in geen geval aansprakelijk kan worden gesteld voor schade te wijten aan het niet respecteren van de geldende regelgeving inzake intellectuele eigendomsrechten. Rechthebbenden die menen dat hun rechten worden geschonden, kunnen contact opnemen via  <a href="mailto:servicedesk@cultuurconnect.be">servicedesk@cultuurconnect.be</a>, waarna Cultuurconnect dit zal terugkoppelen naar het verantwoordelijke gezelschap dat de betreffende captatie ter beschikking heeft gesteld om te integreren in en dus verspreiden via deze website. Waar blijkt dat Cultuurconnect onterecht bronmateriaal zou reproduceren, zal Cultuurconnect onmiddellijk alle maatregelen nemen om de inbreuk te beëindigen. Cultuurconnect behoudt zich het recht voor om de nodige verificaties te verrichten alvorens over te gaan tot verwijdering van de captatie waarop het verzoek betrekking heeft. Dit alles in overeenstemming met de bepalingen van de wet van 30 juni 1994 betreffende het auteursrecht en de naburige rechten.</p>
                    <p>Elke reproductie, verspreiding, verkoop of andere exploitatie van deze captaties, ongeacht de wijze, is verboden zonder de voorafgaandelijke schriftelijke toestemming van het gezelschap dat de desbetreffende captatie aan Cultuurconnect ter beschikking heeft gesteld ter integratie op deze website. U verbindt zich ertoe u te onthouden van elke inbreuk op de intellectuele eigendomsrechten van rechthoudende partijen.</p>
                <h2>Bescherming van persoonsgegevens</h2>
                <p><strong>Algemeen</strong></p>
                    <p>Bij de verwerking van persoonsgegevens hechten we altijd het grootste belang aan de bescherming van uw persoonlijke levenssfeer.</p>
                    <p>Cultuurconnect vzw is de verantwoordelijke voor de verwerking van persoonsgegevens die u desgevallend meedeelt via de website.</p>
                    <p>De Data Protection Officer (DPO) van Cultuurconnect kan worden bereikt via het adres helemaal bovenaan opgenomen (t.a.v. Data Protection Officer), of via <a href="mailto:dpo@cultuurconnect.be.">dpo@cultuurconnect.be</a>.</p>
                <p><strong>Welke gegevens kunnen worden verzameld en voor welke doeleinden?</strong></p>
                    <p>Dankzij cookies kunnen we het gebruik van de website vereenvoudigen, vervolledigen en personaliseren. Zo kan bijvoorbeeld onthouden worden waar u precies het bekijken van een voorstelling onderbroken heeft, zodat u de volgende keer meteen op die plaats kan inpikken. De via cookies verzamelde gegevens laten ons toe om gebruiksanalyse op de website te voeren, en zo de website permanent te optimaliseren voor de gebruikers. Voor gebruiksanalyse van onze website schakelen wij Google Analytics in. Door gebruik te maken van de website gaat u akkoord met <a href="https://policies.google.com/privacy?hl=nl">privacybeleid van Google</a>, met betrekking tot haar service Google Analytics.</p>
                    <p>Via uw browserinstellingen kunt u de installatie van cookies weigeren. U kunt ook op elk moment de reeds geïnstalleerde cookies verwijderen van uw computer of mobiel apparaat. Ga hiervoor naar het menu 'Instellingen' of 'Opties' van je browser en duid in het tabblad 'Privacy' de juiste instellingen aan voor het gebruik van cookies. Het kan wel zijn dat u hierdoor minder performant gebruik kan maken van de website, of bepaalde functionaliteiten niet kan gebruiken.</p>
                    <p>Gebruikers kunnen aanvullend feedback op de website achterlaten, en er hierbij voor kiezen om ook hun e-mailadres in te vullen. Dit is volledig vrijblijvend. De feedback wordt verzameld en verwerkt in functie van onderzoek naar gebruikersnoden en -verwachtingen ten aanzien van online culturele content. Via uw e-mailadres kunnen we u informeren in verband met (vervolgstappen in) dat onderzoek en/of kunnen we u op de hoogte houden van soortgelijke initiatieven.</p>
                    <p>U kan uw toestemming voor het verwerken van uw feedback en/of uw e-mailadres steeds intrekken door een eenvoudig mailtje te sturen naar <a href="mailto:dpo@cultuurconnect.be.">dpo@cultuurconnect.be</a>.</p>
                <p><strong>Wat zijn uw rechten en hoe kan u ze uitoefenen?</strong></p>
                    <p>U hebt altijd het recht om de door u meegedeelde persoonsgegevens (onder de voorwaarden vermeld in de AVG)</p>
                    <ul>
                        <li>op te vragen en in te kijken (art. 15 AVG), of over te dragen (art. 20 AVG); u kan in dat kader een volledige export van uw persoonsgegevens in een gestructureerd, veelgebruikt en machineleesbaar formaat verkrijgen;</li>
                        <li>te (laten) wijzigen of vervolledigen (art. 16 AVG);</li>
                        <li>te (laten) schrappen (art. 17 AVG).</li>
                    </ul>
                    <p>Daarnaast heeft u steeds het recht om</p>
                    <ul>
                        <li>Beperking van de verwerking te vragen (art. 18 AVG);</li>
                        <li>Bezwaar te maken tegen de verwerking (art. 21 AVG).</li>
                    </ul>
                    <p>U kan uw rechten uitoefenen door een eenvoudig verzoek te mailen naar <a href="mailto:dpo@cultuurconnect.be.">dpo@cultuurconnect.be</a>.</p>
                    <p>Heeft u ondanks onze voorzorgsmaatregelen toch klachten over ons gebruik van uw persoonsgegevens, neem dan contact met  <a href="mailto:dpo@cultuurconnect.be.">dpo@cultuurconnect.be</a>.</p>
                    <p>Meer informatie over klachtenprocedures vindt u op de website van de <a href="https://overheid.vlaanderen.be/vlaamse-toezichtcommissie">Vlaamse Toezichtcommissie</a> en de <a href="https://www.gegevensbeschermingsautoriteit.be/">Gegevensbeschermingsautoriteit</a>.</p>
                <p><strong>Toepasselijk recht en bevoegde rechter</strong></p>
                    <p>Deze online overeenkomst en alle geschillen en vorderingen die voortkomen uit het gebruik van deze website of gegevens van de website, vallen onder de toepassing van het Belgische recht en van de relevante internationale regelgeving. Raadpleging van deze website houdt in dat u zich onderwerpt aan de rechtspraak van de rechtbanken van België en dat u aanvaardt om alle gedingen alleen voor een Belgische rechtbank te brengen. De bevoegde rechtbank met zetel in Brussel is bij uitsluiting bevoegd om kennis te nemen van eventuele geschillen die in verband met deze gebruiksvoorwaarden ontstaan.</p>
                <p><strong>Wijzigingen</strong></p>
                    <p>Cultuurconnect kan deze Gebruiksvoorwaarden/Privacyverklaring altijd wijzigen zonder voorafgaande verwittiging aan de gebruiker. De wijzigingen gaan in direct na het plaatsen van de nieuwe Gebruiksvoorwaarden/Privacyverklaring op de website. Gelieve daarom steeds na te gaan of u de laatste versie hebt doorgelezen. Deze versie werd het laatst gewijzigd op 24/3/2020.</p>
            </section>
        <!-- Sectie met videos en filtering  -->
        <%- include('partials/videoCatalog.ejs') %>
        </div>
    </main>
    <!-- Footer met parallax! -->
    <%- include('partials/footer.ejs') %>
</body>

</html>