<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podium Aan Huis</title> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel = "stylesheet" type="text/css" href="css/style.css">
</head>
<body>
     <!-- Navigatie  -->
    <section id="navHeader">
        <div class="navContainer">
            <section class="navTitle">
                <a href="/">Podium Aan Huis</a>
            </section>
            <nav>
                <section class="navLinks">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#videos">Video's</a></li>
                        <li><a href="/over-dit-initiatief">Over</a></li>
                    </ul>
                </section>
            </nav>
        </div>
    </section>
    <!-- Main body  -->
    <main>
        <!-- Header met info  -->
        <header>

        </header>
       <!-- Sectie met videos en filtering  -->
        <div>
            <!-- Filter voor videos  -->
            <section class="videosFilter">

            </section>
            <!-- Weergave van al de videos -->
            <section class="videosResults">

            </section>
        </div>
        <section id="feedback">
            <div class="feedbackContainer">
                <section class="feedbackExplanation">
                    <div class="leftColumn">  
                        <h2>Leun rustig achterover en geniet van de voorstelling!</h2>
                        <p>We horen graag jouw feedback! Laat gerust een berichtje achter.</p>
                        <p>Deze informatie wordt gebruikt om na te gaan of je interesse hebt in een online platform om voorstellingen te bekijken. Via e-mail stellen we je eventueel later nog vragen voor verder onderzoek naar een goed digitaal cultuurplatform.</p>
                    </div>
                </section>
                <section class="feedbackForm">
                    <div class="righColumn">

                    </div>
                </section>
            </div>
        </section>
    </main>
    <!-- Footer met parallax! -->
    <footer>
        <div class="footerContainer">
            <section class="footerLeft">
            <a href="/gebruiksvoorwaarden"> Gebruiksvoorwaarden / Privacyverklaring</a>
            </section>
            <section class="footerRight">
                <div>Deze website is mogelijk gemaakt door</div>
                <div class="footerLinksContainer">
                    <a href="https://www.cultuurconnect.be/"><img src="/images/logo-cultuurconnect.png" alt=""></a>
                    <a href="https://www.ditisvlaanderen.be/nl/verbeelding-werkt-0"><img src="/images/logo-vlaanderen.png" alt=""></a></div>
            </section>
        </div>
    </footer>
</body>
<script src="bower_components\jquery\dist\jquery.min.js"></script>
<script>
</script>
</html>