<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podium Aan Huis</title> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel = "stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
     <!-- Navigatie  -->
    <section id="navHeader">
        <div class="navContainer">
            <section class="navTitle">
                <a href="/">Podium Aan Huis</a>
            </section>
            <nav>
                <section class="navLinks">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#videos">Video's</a></li>
                        <li><a href="/over-dit-initiatief">Over</a></li>
                    </ul>
                </section>
            </nav>
        </div>
    </section>
    <!-- Main body  -->
    <main>
        <div class="mainContainer">
            <!-- Header met info  -->
            <header>
                <section class="headerImageContainer">
                    <div>
                        <img src="/images/banner.jpg">
                    </div>
                    <div class="creditContainer">
                        <p class="creditText">Beeld uit Slumberland, Zonzo Compagnie
                            © Dries Segers</p>
                    </div>
                </section>
            </header>
            <section class="mainDescription">
                <section class="headerTextContainer">
                    <h2>Haal voorstellingen naar je huiskamer </h2>
                    <p>Bekijk gratis opnames van straffe podiumvoorstellingen voor jong en oud. Elke dag komen er nieuwe bij. Via Podium Aan Huis bundelen gezelschappen, kunst- en cultuurhuizen virtueel de krachten om jou te blijven ontroeren en ontspannen. Door de coronacrisis is de magie van de live beleving even onbereikbaar. Geen nood, want als de zalen moeten sluiten, dan komt de voorstelling gewoon naar je toe. Veel kijkplezier!</p>
                    <p class="covidWarning">Momenteel onderzoeken we of Podium Aan Huis een toekomst heeft eens de coronamaatregelen zijn afgelopen. Zag je al een voorstelling? Deel jouw mening en vul deze <a href="https://docs.google.com/forms/d/e/1FAIpQLSfU7hyzMG3I8w7zFWIZO-VgBfl-dTa1FW0oqUZT4OPU377WPg/viewform">bevraging</a> in (max. 5 min).</p>
                </section>
            </section>
            
        <!-- Sectie met videos en filtering  -->
            <div id="videos" style="margin-top: 24px;">
                <!-- Filter voor videos  -->
                <section class="videosFilter">

                </section>
                <!-- Weergave van al de videos -->
                <section class="videosResults">
                    <div class="videoCatalogContainer">
                        <section class="videoCatalog">

                        </section>
                        <section class="videoCatalogNav">
                            <button id="videoCatalogPrevious" onclick="navigateCatalog('prev')">Vorige</button>
                            <p>Pagina <span id="videoCatalogCurrentPage">1</span> van <span id="videoCatalogMaxPages">9</span></p>
                            <button id="videoCatalogNext" onclick="navigateCatalog('next')">Volgende</button>
                        </section>
                    </div>
                </section>
            </div>
        </div>
            <section id="feedback">
                <div class="feedbackContainer">
                    <section class="feedbackExplanation">
                        <div class="leftColumn">  
                            <h2><strong> Leun rustig achterover en geniet van de voorstelling!</strong></h2>
                            <p style="white-space: pre-line">We horen graag jouw feedback! Laat gerust een berichtje achter.</p> <p> Deze informatie wordt gebruikt om na te gaan of je interesse hebt in een online platform om voorstellingen te bekijken. Via e-mail stellen we je eventueel later nog vragen voor verder onderzoek naar een goed digitaal cultuurplatform.</p>
                        </div>
                    </section>
                    <section class="feedbackForm">
                        <div class="righColumn">
                            <section>
                                <form action="">
                                    <div class="formGroup">
                                        <label for="watInitiatief">Wat vind je van dit initatief?</label>
                                        <textarea type="text" id="watInitiatief"></textarea>
                                    </div>
                                    <div class="formGroup">
                                        <label for="watVoorstellingen">Wat vind je van de voorstellingen?</label>
                                        <textarea type="text" id="watVoorstellingen"></textarea>
                                    </div>
                                    <div class="formGroup">
                                        <label for="e-mail">E-mail (optioneel)</label>
                                        <input type="email" id="e-mail">
                                    </div>
                                    <div class="formGroup">
                                        <input type="button" value="Verstuur">
                                    </div>
                                    
                                </form>
                            </section>
                        </div>
                    </section>
                </div>
            </section>
        </main>
    
    <!-- Footer met parallax! -->
    <footer>
        <div class="footerContainer">
            <section class="footerLeft">
            <a href="/gebruiksvoorwaarden"> Gebruiksvoorwaarden / Privacyverklaring</a>
            </section>
            <section class="footerRight">
                <div>Deze website is mogelijk gemaakt door</div>
                <div class="footerLinksContainer">
                    <a href="https://www.cultuurconnect.be/"><img src="/images/logo-cultuurconnect.png" alt=""></a>
                    <a href="https://www.ditisvlaanderen.be/nl/verbeelding-werkt-0"><img src="/images/logo-vlaanderen.png" alt=""></a></div>
            </section>
        </div>
    </footer>
</body>
<script src="bower_components\jquery\dist\jquery.min.js"></script>
<script type="module" src="js/classes/Video.js"></script>
<script src="js/videos.js"></script>
</html>