@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

@import variables

// Reset 
*
    box-sizing: border-box
    font-family: sans-serif
    font-family: 'Montserrat', sans-serif
    font-weight: 300
   

// Main styling

body 
    margin: 0
    padding: 0
    font-size: 18px
    color: $text-color
    font-weight: 500
    font-family: 'Montserrat', sans-serif
    text-align: left
    line-height: 28px
    background-color: $background-grey
    a 
        color: $heading-color
        &:hover
            color: $action-color

main 
    z-index: 99
    width: 100%
    background-color: white
    margin-bottom: $footer-height
    box-shadow: 0 0 20px -12px #000
    padding-bottom: 40px
    .mainContainer
        max-width: 1296px
        margin: auto
        padding-top: 20px
        h1 
            margin-top: 0
            margin-bottom: 100px
// Algemene 
h1 
    color: $heading-color
    font-weight: 800
    font-size: 50px
    margin-bottom: 12px
    line-height: 72px
    letter-spacing: -.03em
h2 
    color: $heading-color
    margin: 10px 0
    font-weight: 700
    font-size: 20px
    line-height: 24px
p, li 
    margin-bottom: 24px
    font-size: 16px
    font-weight: 300
    line-height: 25px
label, strong 
    font-weight: 800

input[type=button], button
    background-color: $action-color
    color: white
    font-family: 'Montserrat'
    margin-top: 24px
    transition: 0.15s
    font-size: 15px
    font-weight: 600
    text-transform: uppercase
    border: none
    padding: 12px 24px
    border-radius: $rounded-border
    font-weight: 300
    cursor: pointer
    &:hover
        box-shadow: 0 3px 10px -5px rgba(19,11,44,.5)
        transform: translateY(-3px)
    &:disabled
        background-color: #e8edf4
        color: $text-color

textarea, input
    width: 100%
    height: 60px
    padding: 10px 20px
    border: none
    border-radius: $rounded-border
    margin-bottom: 24px
label 
    color: $heading-color
    font-size: 15px
    line-height: 20px
    display: block
    margin-bottom: 7px
input[type=button]
    font-weight: 600
// Navigation styling

#navHeader
    background-color: white
    position: sticky
    top: 0
    z-index: 99
    width: 100% 
    height: 85px
    display: flex
    align-items: center
    .navContainer
        width: 1296px
        max-width: 1296px
        display: flex
        margin: 0 auto
        padding: 0 24px
        align-items: center
        justify-content: space-between
        .navTitle  
            a 
                flex: 1
                align-self: auto
                font-weight: 600
    ul
        list-style: none
        display: flex
        padding: 0
        align-items: center
        height: 100%
        li 
            margin: 0
    a 
        
        text-decoration: none
        padding: 28px 24px
        font-size: 16px
        font-weight: 600
      

    nav 
        display: flex
        align-items: center

// Header styling

// Filter styling
.videosFilter
    max-width: 740px
    margin: auto
    input
        background-color: $background-grey
#zoekbalkResults
    display: grid
    grid-auto-columns: 1fr
    grid-row-gap: 36px
    grid-template-rows: auto auto 
    grid-template-columns: 1fr
.searchResultCardcontainer
    width: 100%   
    background-color: $background-grey
    border-radius: $rounded-border
    transition: .15s ease-in
    overflow: hidden
    &:hover
        box-shadow:  0 6px 6px -4px rgba(0, 0, 0, 0.2)
        transform: translateY(-4px)
    .searchResultVideoCard
        display: grid
        grid-template-columns: 0.65fr 1fr
        overflow: hidden
        text-decoration: none
        .searchResultCardImageContainer
            width: 100%
            overflow: hidden 
            display: flex
            position: relative
            object-fit: cover
            align-items: center
            div
                height: 100%
                width: 100%
                background-color: rgba(black, 0.5 )
                z-index: 5
            img 
                z-index: 1
                width: 100%
                position: absolute
                left: 0
        
        .searchResultCardTextContainer
            
            padding: 10px 36px
            h3 
                
                color: $heading-color
                font-weight: 700
                letter-spacing: -0.02em
                line-height: 32px
                font-size: 20px
                margin: 0
                margin-bottom: 10px
            p 
                margin: 0
#genreButtonsContainer
    display: flex
    flex-flow: row wrap 
    justify-content: start
    width: 100%
.filterBtnWrapper
    margin-right: 10px
    margin-top: 0
.filterBtn
    display: inline-block
    letter-spacing: 1px
    font-weight: 400   
    background-color: $background-grey
    border: 2px solid $background-grey !important
    color: $heading-color
    font-size: 10px
    padding: 3px 9px 3px 12px
    line-height: 22px
    border: none
    border-radius: $rounded-border
    cursor: pointer
    text-transform: uppercase
    width: 100%

.activeFilterBtn
    background-color: white
    color: $action-color
    border-color: $action-color !important
    border: 2px solid

// Videos styling
#videos
    margin-bottom: 100px

.videoCatalog
    margin-top: 24px
    max-width: 1296px
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
// video card style
.videoCard 
    margin: 0 10px 24px 
    display: inline-block
    min-width: 380px
    max-width: 380px
    height: 400px
    overflow: hidden
    border-radius: $rounded-border 
    background-color: $background-grey
    text-decoration: none
    transition: .15s ease-in
    &:hover
        box-shadow:  0 6px 4px -4px rgba(0, 0, 0, 0.3)
        transform: translateY(-10px)
    .videoThumbnailImageContainer
        width: 100%
        height: 194px
        overflow: hidden
        border-bottom: 6px solid $action-color
        object-fit: cover
        display: block
        position: relative
        div
            display: flex
            position: relative
            z-index: 5
            padding: 36px
            flex-direction: row
            justify-content: space-between
            align-items: flex-start 
            overflow: hidden
            width: 100%
            height: 100%
            background-color: rgba(0, 0, 0, 0.7 )
            .videoThumbnailGenre
                background-color: white
                padding: 3px 9px 3px 12px
                font-size: 10px
                line-height: 22px
                font-weight: 800
                letter-spacing: 1px
                text-transform: uppercase
                color: $action-color
                border-radius: $rounded-border
        img 
            z-index: 4
            width: 100%
            position: absolute
            top: 0
            left: 0
       
    .videoThumbnailInfoContainer
        min-height: 180px
        padding: 36px
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        position: relative
        h3  
            color: $heading-color
            font-weight: 700
            letter-spacing: -0.02em
            line-height: 32px
            font-size: 20px
            margin: 0
        p 
            margin: 0
            clear: none
            font-size: 14px
            line-height: 20px
            font-weight: 400
        .videoThumbnailInfoDuration
            p
                font-size: 18px
                line-height: 28px
                font-weight: 400
    .videoThumbnailPlayBtn
        position: absolute
        left: 36px
        top: -25px
        display: flex
        width: 45px
        height: 45px
        min-width: 45px
        min-height: 45px
        z-index: 6
        background-color: white
        border-radius: $rounded-border
        justify-content: center
        align-items: center
        .videoCatalogPlayIcon
            width: 10px
            height: 10px
            border: solid black 10px
            border-width: 7px 0px 7px 11px
            border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) black
            border-radius: 3px

.videoCatalogNav
    display: flex
    align-items: center
    justify-content: center
    p 
        margin: 0 24px
        font-size: 18px
        color: $text-color
        font-weight: 500
        span 
            font-weight: 500
    button
        margin: 0

// Footer styling !PARALLAX 
footer 
    z-index: -2
    width: 100%
    position: fixed
    bottom: 0
    padding: 100px 0 40px
    .footerContainer
        font-size: 16px
        width: 100%
        max-width: 1296px
        margin: 0 auto 100px
        padding: 0 24px
        display: flex
        justify-content: space-between

        section 
            width: 50%

        .footerRight
            text-align: center
            .footerLinksContainer
                margin-top: 20px 
                display: flex
                align-items: center
            a 
                text-align: center
                width: 50%
                max-height: 100px
                img 
                    max-height: 100px
                    width: auto
                    &:hover
                        filter: $action-color 